/*****************body styles********************/

body    {
    background-color: #EAFDFC;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    margin: 0;
    text-align: center;

}

/*****************BUTTON styles********************/

.btn {
    -webkit-border-radius: 50;
    -moz-border-radius: 50;
    border-radius: 50px;
    font-family: Courier New;
    color: #ffffff;
    font-size: 30px;
    background: #3498db;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #002f4d;
    text-decoration: none;
  }

/*****************container styles********************/

.contact-me-btn {
    margin: 50px auto;
}

.top-container  {
    background-color: #BFEAF5;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 0;
    position: relative;
    margin: 0;
}

.middle-container   {
    margin: 50px auto 100px auto;
}

.profile    {
    margin: 0 auto;
    width: 40%;
}

.bottom-container   {
    background-color: #91D8E4;
    margin-top: 50px;
    padding: 40px;
}

.skills {
    margin: 30px auto;
}

.skill-row  {
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

.skill-row p {
    line-height: 1.5;
}

.spacer {
    height: 50px;
}

/*****************DIVIDER STYLES********************/

hr {
    border-style: dotted;
    border-color: #82AAE3;
    border-width: 10px 0 0 0;
    margin: 75px auto;
    width: 10%;
}

/*****************FONT STYLES********************/

h1  {
    color: #0E8388;
    font-family: 'Rock Salt', cursive;
    font-size: 3.5rem;
    line-height: 2;
    margin: 0;
}


h2  {
    color: #0E8388;
    font-family: 'Roboto', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 30px;
}

h3  {
    color: #91D8E4;
    font-family: 'Rock Salt', cursive;
    font-size: 1.5rem;
    padding-top: 20px;
}

.footer-link    {
    color: #0E8388;
    font-family: 'Rock Salt', cursive;
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    -webkit-text-fill-color: #2C3333;
}

.page-title {
    margin: 0;
}

.page-subtitle  {
    font-size: 1.5rem;
    margin: 0;
}

/*****************image styles********************/

img {
    margin: 0;
}

.bottom-cloud  {
    position: absolute;
    left: 20%;
}

.coding-img {
    float: left;
    margin: 30px 50px 60px auto;
    width: 175px;
}

.french-img {
    float: right;
    margin: 30px auto 60px 50px;
    width: 175px;
}

.tomwinskell-img {
    width: 200px;
}

.top-cloud  {
    position: absolute;
    right: 20%;
    top: 50px;
}

.footer-link {
    padding: 0 30px;
}