div    {background-color: #00425A;}

/*****************body styles********************/

body    {
    margin: 0;
}

/*****************heading styles********************/

h1  {
    margin-top: 0px;
}