/*****************body styles********************/

body    {
    margin: 0;
    background-color: #E6E2C3;
}

/*****************container styles********************/

.top-container  {
    background: no-repeat url(../images/header-image.jpg);
    background-color: lightblue;
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;
    width: 100%;
}

.middle-container   {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
      
.middle-container div {
        width: 600px;
        text-align: center;
}

.bottom-container   {
    align-items: center;
    background-color: #227C70;
    display: flex;
    height: 300px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.bottom-container div {
    width: 600px;
    text-align: center;
}

.spacer {
    background-color: #00425A;
    height: 50px;
}

.top-menu   {
    background-color: #00425A;
    height: 50px;
}

/*****************heading styles********************/

.h1-header  {
    font-family: monospace;
    font-size: 3em;
    margin: 0;
    padding-top: 400px;
    text-shadow: darkgreen 0px 0 10px, 0 0 1em darkgreen, 0 0 1em darkgreen, 0 0 1em darkgreen;
    -webkit-text-fill-color: white;
}

h2  {
    font-family: monospace;
    font-size: 2.5em;
    text-shadow: #88A47C 0px 0 10px, 0 0 1em #88A47C;
    -webkit-text-fill-color: #00425A;
}

/*****************text styles********************/

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    -webkit-text-fill-color: #1C315E;
}

.text-header    {
    font-family: fantasy;
    font-size: 2em;
    margin: 0;
    text-shadow: darkgreen 0px 0 10px, 0 0 1em darkgreen, 0 0 1em darkgreen, 0 0 1em darkgreen;
    -webkit-text-fill-color: white;
}